.body {
  height: 2000px;
  background-color: #000000;
}
nav {
  background-color: #000000;
}
.hireme {
  background-color: #ffb742;
}
.name{
    color: #ffb742;
}
skill-logo{
    background-color: #383E45;
}
